.carousel {
  display: block;

  @include breakpointUp(lg) {
    display: none;
  }

  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 580px;
  border-radius: 12px;
  background-color: rgb(248, 248, 248);
}

.carousel-item {
  display: none;
  text-align: center;
  padding: 1.4rem 0 2.4rem 0;

  &.active {
    display: table;
  }
}

.photo {
  margin-bottom: 1.65rem;

  img {
    width: 6rem;
    height: auto;
  }
}

.name {
  h1 {
    font-size: 1.54rem;
    font-weight: 700;

    margin-bottom: 1.65rem;
  }
}

.content {
  p {
    font-size: 0.89rem;
    color: rgb(177, 177, 177);
    letter-spacing: 1.8px;
    line-height: 1.5rem;
  }
}

.indicator {

  div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid $primaryColor;
    border-radius: 50%;
    content: '';
    margin-bottom: 1.3rem;
    transition: 200ms background-color ease-in-out;

    &.iActive {
      background-color: $primaryColor;
    }
  }
}

.carousel-btn-left {
  display: table-cell;
  cursor: pointer;
  opacity: 0;
  width: 65px;
  position: relative;
  background-color: rgb(196, 196, 196);
  transition: 200ms opacity ease-in-out;

  &:hover {
    opacity: 0.35;
  }
}

.carousel-btn-right {
  display: table-cell;
  cursor: pointer;
  opacity: 0;
  width: 65px;
  position: relative;
  background-color: rgb(196, 196, 196);;
  transition: 200ms opacity ease-in-out;

  &:hover {
    opacity: 0.35;
  }
}

.btn-icon-left {
  display: block;
  position: absolute;
  height: 100%;

  div {
    position: relative;
    height: 6px;
    width: 40px;
    border-radius: 15px;
    background-color: rgb(134, 134, 134);

    &:first-child {
      top: 43%;
      left: 9px;
      transform: rotate(-45deg);
    }
    &:last-child {
      top: 49%;
      left: 9px;
      transform: rotate(45deg);
    }
  }
}

.btn-icon-right {
  display: block;
  position: absolute;
  height: 100%;

  div {
    position: relative;
    height: 6px;
    width: 40px;
    border-radius: 15px;
    background-color: rgb(134, 134, 134);

    &:first-child {
      top: 43%;
      left: 13px;
      transform: rotate(45deg);
    }
    &:last-child {
      top: 49%;
      left: 13px;
      transform: rotate(-45deg);
    }
  }
}