body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
  color: $mainFontColor;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ececec;
  }
}

main {
  overflow-x: hidden;
}

h1 {
  font-size: 3.2rem;
  
  @include breakpointUp(md) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2.5rem;
}

.bg1 {
  display: none;

  @include breakpointUp(md) {
    display: block;
    position: absolute;
    z-index: -99;
    top: -270px;
    left: 62%;
  }
}
.bg2 {
  display: none;

  @include breakpointUp(md) {
    display: block;
    position: absolute;
    z-index: -99;
    top: 1010px;
    right: 71%;
  }

}

.skip-link {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  transform: translateY(-110%);
  transition: 200ms transform ease-in-out;

  &:focus {
    transform: translateY(110%);
  }
}